<!DOCTYPE html>
<html lang="en">

    <%- include('includes/head.ejs') %>

<header>       
    <h1> Personas por la Ética en el Trato de los Zombis (PETZ) </h1>
    <%- include('includes/navbar.ejs') %>
</header>
<body>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha/Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr>

          </tr>
          <tr>

          </tr>
          <tr>

          </tr>
        </tbody>
      </table>


    <%- include('includes/footer.ejs') %>
</body>
</html>