<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs') %>
  <%- include('includes/navbar.ejs') %>
  <div class="container">
  <h1><%= titulo %></h1><br>
  <div class="input-field col s12">
      <form action="/add-register" method="POST"></form>
  
          <label for="nombre">Nombre completo: </label>
          <input type="text" id="nombre" name="nombre" placeholder="Juan Perez" required>
          <br/>
          <br/>
          <label for="nombre">Estado actual: </label>
          <input type="text" id="tipo_estado" name="tipo_estado" placeholder="infección" required>
          <br/>
          <br/>
          <input type="submit" id="enviar" name="enviar" value="Enviar">
          <br/>
          
      </form>
  <%- include('includes/footer.ejs') %> 
</body>
</html>